.question-title {
    color: white;
    font-weight: bold;
    font-size: 35px;
}

.question-font {
    color: white;
    font-size: 12px;
}

.question-instruction {
    color: white;
    margin-right: 10px;
    margin-bottom: 0px;
}

.progress-bar-container{
    margin-top: 25px;
    margin-left: auto;
}

.output-box {
    border-radius: 10px;
    background-color: #272822;
    height: 80%;
    padding: 10px;
    border: 1px white solid;
}

.feedback-text-font {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 12px;
}

.loading-color {
    color: white !important;
    margin-top: 25px;
    margin-right: 20px;
}