p {
    white-space: pre-wrap;
    font-size: 12px;
}

.question-instruction {
    color: white;
    margin-right: 10px;
    margin-bottom: 0px;
}

.progress-bar-container{
    margin-top: 25px;
    margin-left: auto;
}

.output-box {
    border-radius: 10px;
    background-color: #272822;
    height: 80%;
    padding: 10px;
    border: 1px white solid;
}

.feedback-text-font {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 12px;
}

.loading-color {
    color: white !important;
    margin-top: 25px;
    margin-right: 20px;
}

.question-container .Mui-selected .MuiTab-wrapper{
    color:white;
}

.question-container .MuiTab-wrapper{
    color:grey;
}

.question-container .active-tab{
    background-color: white;
}

.mcq-button{
    border: 1px solid grey;

}

pre {
    font-size: 60%;
    cursor: pointer;
    color: white;
}

.selected-mcq{
    background-color: grey;
}