.question-circle{
    border-radius: 50%;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 16px;
    background-color: grey;
}
.question-circle.completed{
    background-color: #007bff;
}
.question-circle.current{
    border: solid 4px green;
}

.MuiTab-root{
    min-width: 80px !important;
}

.react-swipeable-view-container{
    height: 80%;
}