body, html {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #171c28;
  color: #444452;
  font-family: Apercu,"Source Sans Pro",system,system-ui,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif;
  line-height: 1.5;
  width: 100%;
  color:white;
}

.App {
  position: relative;
  height:100vh;
  width: 100vw;
  overflow: hidden;
}

.title-font{
  color: white;
  font-weight: bold;
  font-size: 35px;
}

.button-start{
  margin-top: 25px !important;
  border-radius: 0!important;
  border-color: white !important;
  color: white!important;
}

.button-start:disabled{
  border-color: grey !important;
  color: grey!important;
}

.feedback-link{
  text-decoration: none !important;
  color:#007bff;
}